<form [formGroup]="userEdit" (ngSubmit)="update()">
    <div class="wraper"> 
        <div>
            <input type="text" formControlName="username" name="username" id="" placeholder="username">
        </div>
        <div>
            <input type="text" formControlName="accountNo" name="accountNo" placeholder="account number">
        </div>
        <div>
            <input type="text" formControlName="balance" name="balance" placeholder="balance">
        </div>
        <!-- <div>
            <input type="text" formControlName="password" name="password" placeholder="password">
        </div> -->
        <div>
           <button type="submit">update</button>
        </div>
    </div>
</form>
