<div class="row" class="login">
    <div class="col-3"></div>

    <div class="content">
        <h1>login</h1>

        <app-login-structure [submit]="btn_name" [message]="msg"></app-login-structure>

        <!-- <div class="username">
            <input (change)="onUserNameChange($event)" type="text" id="user" placeholder="user name"
                class="form-control">
        </div>

        <label for="" id="lab"></label>

        <div class="password">
            <input (change)="onPasswordChange($event)" type="password" id="pass" placeholder="password"
                class="form-control">
        </div>

        <label for="" id="plab"></label>

        <div class="submit">
            <button type="submit" (click)="login()" class="btn btn-primary bg-dark">login</button>
        </div> -->

        <div class="registration"> 
            <label for="">dont have
                an account?<a href="" routerLink="/registration">Register</a>
            </label>
        </div>
    </div>

    <div class="col-3"></div>
</div>

